@charset "UTF-8";

@font-face {
    font-family: 'montserrat_uvm';
    src: url('../fonts/montserrat-regular-webfont.eot');
    src: url('../fonts/montserrat-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/montserrat-regular-webfont.woff2') format('woff2'),
         url('../fonts/montserrat-regular-webfont.woff') format('woff'),
         url('../fonts/montserrat-regular-webfont.ttf') format('truetype'),
         url('../fonts/montserrat-regular-webfont.svg#montserratregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserrat_uvm';
    src: url('../fonts/montserrat-bold-webfont.eot');
    src: url('../fonts/montserrat-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/montserrat-bold-webfont.woff2') format('woff2'),
         url('../fonts/montserrat-bold-webfont.woff') format('woff'),
         url('../fonts/montserrat-bold-webfont.ttf') format('truetype'),
         url('../fonts/montserrat-bold-webfont.svg#montserratbold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'opensans_uvm';
    src: url('../fonts/opensans-bold-webfont.eot');
    src: url('../fonts/opensans-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-bold-webfont.woff2') format('woff2'),
         url('../fonts/opensans-bold-webfont.woff') format('woff'),
         url('../fonts/opensans-bold-webfont.ttf') format('truetype'),
         url('../fonts/opensans-bold-webfont.svg#open_sansbold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'opensans_uvm';
    src: url('../fonts/opensans-italic-webfont.eot');
    src: url('../fonts/opensans-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-italic-webfont.woff2') format('woff2'),
         url('../fonts/opensans-italic-webfont.woff') format('woff'),
         url('../fonts/opensans-italic-webfont.ttf') format('truetype'),
         url('../fonts/opensans-italic-webfont.svg#open_sansitalic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'opensans_uvm';
    src: url('../fonts/opensans-light-webfont.eot');
    src: url('../fonts/opensans-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-light-webfont.woff2') format('woff2'),
         url('../fonts/opensans-light-webfont.woff') format('woff'),
         url('../fonts/opensans-light-webfont.ttf') format('truetype'),
         url('../fonts/opensans-light-webfont.svg#open_sanslight') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'opensans_uvm';
    src: url('../fonts/opensans-regular-webfont.eot');
    src: url('../fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-regular-webfont.woff2') format('woff2'),
         url('../fonts/opensans-regular-webfont.woff') format('woff'),
         url('../fonts/opensans-regular-webfont.ttf') format('truetype'),
         url('../fonts/opensans-regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "uvm-icons";
    src:  url("../fonts/uvm.eot");
    src:  url("../fonts/uvm.eot?#iefix") format("embedded-opentype"),
        url("../fonts/uvm.woff") format("woff"),
        url("../fonts/uvm.ttf") format("truetype"),
        url("../fonts/uvm.svg#uvm") format("svg");
    font-weight: normal;
    font-style: normal;

}

[data-icon]:before {
    font-family: "uvm-icons" !important;
    content: attr(data-icon);
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    // line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    display: inline-block;
}

[class^="i-"]:before,
[class*=" i-"]:before {
    font-family: "uvm-icons" !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    vertical-align: bottom;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


/**
*
*
*
VERSION NUEVA de iconos
*/


.i-angle-down:before {
  content: "\61";
}
.i-angle-left:before {
  content: "\62";
}
.i-angle-right:before {
  content: "\63";
}
.i-angle-up:before {
  content: "\64";
}
.i-briefcase:before {
  content: "\65";
}
.i-calendar-ok:before {
  content: "\66";
}
.i-calendar-delete:before {
  content: "\67";
}
.i-calendar-empty:before {
  content: "\68";
}
.i-calendar-plus:before {
  content: "\69";
}
.i-camera:before {
  content: "\6a";
}
.i-tri-down:before {
  content: "\6b";
}
.i-tri-left:before {
  content: "\6c";
}
.i-tri-right:before {
  content: "\6d";
}
.i-tri-up:before {
  content: "\6e";
}
.i-amex:before {
  content: "\6f";
}
.i-mastercard:before {
  content: "\70";
}
.i-paypal:before {
  content: "\71";
}
.i-visa:before {
  content: "\72";
}
.i-check:before {
  content: "\73";
}
.i-check-circle:before {
  content: "\74";
}
.i-check-circle-o:before {
  content: "\75";
}
.i-check-square:before {
  content: "\76";
}
.i-check-square-o:before {
  content: "\77";
}
.i-arrow-down:before {
  content: "\78";
}
.i-arrow-left:before {
  content: "\79";
}
.i-arrow-right:before {
  content: "\7a";
}
.i-arrow-up:before {
  content: "\41";
}
.i-circle:before {
  content: "\42";
}
.i-circle-o:before {
  content: "\43";
}
.i-circle-thin:before {
  content: "\44";
}
.i-clock:before {
  content: "\45";
}
.i-download:before {
  content: "\46";
}
.i-upload:before {
  content: "\47";
}
.i-credit-card:before {
  content: "\48";
}
.i-exclamation-circle:before {
  content: "\49";
}
.i-exclamation-triangle:before {
  content: "\4a";
}
.i-flag:before {
  content: "\4b";
}
.i-save:before {
  content: "\4c";
}
.i-google-plus:before {
  content: "\4d";
}
.i-heart-1:before {
  content: "\4e";
}
.i-info:before {
  content: "\4f";
}
.i-pin:before {
  content: "\50";
}
.i-list-ul:before {
  content: "\51";
}
.i-less:before {
  content: "\52";
}
.i-attached:before {
  content: "\53";
}
.i-pencil:before {
  content: "\54";
}
.i-rss:before {
  content: "\55";
}
.i-spinner:before {
  content: "\56";
}
.i-star:before {
  content: "\57";
}
.i-star-half:before {
  content: "\58";
}
.i-star-half-o:before {
  content: "\59";
}
.i-star-o:before {
  content: "\5a";
}
.i-suitcase:before {
  content: "\30";
}
.i-plus:before {
  content: "\31";
}
.i-remove:before {
  content: "\32";
}
.i-facebook:before {
  content: "\33";
}
.i-linkedin:before {
  content: "\34";
}
.i-twitter:before {
  content: "\35";
}
.i-twitter-1:before {
  content: "\36";
}
.i-vimeo:before {
  content: "\37";
}
.i-whatsapp:before {
  content: "\38";
}
.i-youtube:before {
  content: "\39";
}
.i-youtube-alt:before {
  content: "\21";
}
.i-checklist:before {
  content: "\22";
}
.i-telephone:before {
  content: "\23";
}
.i-flags:before {
  content: "\24";
}
.i-mail:before {
  content: "\25";
}
.i-search:before {
  content: "\26";
}
.i-chat:before {
  content: "\27";
}
.i-person:before {
  content: "\28";
}
.i-compass:before {
  content: "\29";
}
.i-calc:before {
  content: "\2a";
}
.i-dates:before {
  content: "\2b";
}
.i-signlist:before {
  content: "\2c";
}
.i-touch:before {
  content: "\2d";
}
.i-degree:before {
  content: "\2e";
}
.i-surf:before {
  content: "\2f";
}
.i-home:before {
  content: "\3a";
}
.i-qualification:before {
  content: "\3b";
}
.i-shield:before {
  content: "\3c";
}
.i-adn:before {
  content: "\3d";
}
.i-shake:before {
  content: "\3e";
}
.i-lince:before {
  content: "\3f";
}
.i-tennis:before {
  content: "\40";
}
.i-arts:before {
  content: "\5b";
}
.i-heart:before {
  content: "\5d";
}
.i-news:before {
  content: "\5e";
}
.i-calendar:before {
  content: "\5f";
}
.i-id:before {
  content: "\60";
}
.i-laurate:before {
  content: "\7b";
}
.i-sheet:before {
  content: "\7c";
}
.i-crown:before {
  content: "\7d";
}
.i-building:before {
  content: "\7e";
}
.i-couple:before {
  content: "\5c";
}
.i-okcheck:before {
  content: "\e000";
}
.i-pets:before {
  content: "\e001";
}
.i-diary:before {
  content: "\e002";
}
.i-man:before {
  content: "\e003";
}
.i-woman:before {
  content: "\e004";
}
.i-map-list:before {
  content: "\e005";
}
.i-degree2:before {
  content: "\e006";
}
.i-course:before {
  content: "\e007";
}
.i-course2:before {
  content: "\e008";
}
.i-comment:before {
  content: "\e009";
}
.i-doctor:before {
  content: "\e00a";
}
.i-laws:before {
  content: "\e00b";
}
.i-building2:before {
  content: "\e00c";
}
.i-building3:before {
  content: "\e00d";
}
.i-factory:before {
  content: "\e00e";
}
.i-mappin:before {
  content: "\e00f";
}
.i-mexico:before {
  content: "\e010";
}
.i-lamp:before {
  content: "\e011";
}
.i-socialmedia:before {
  content: "\e012";
}
.i-idea:before {
  content: "\e013";
}
.i-id-1:before {
  content: "\e014";
}
.i-book:before {
  content: "\e015";
}
.i-agenda-e:before {
  content: "\e016";
}
.i-prospects:before {
  content: "\e017";
}
.i-chess:before {
  content: "\e018";
}
.i-basquet:before {
  content: "\e019";
}
.i-baseball:before {
  content: "\e01a";
}
.i-playball:before {
  content: "\e01b";
}
.i-soccer:before {
  content: "\e01c";
}
.i-swing:before {
  content: "\e01d";
}
.i-girl:before {
  content: "\e01e";
}
.i-karate:before {
  content: "\e01f";
}
.i-tennis-1:before {
  content: "\e020";
}
.i-tocho:before {
  content: "\e021";
}
.i-volley:before {
  content: "\e022";
}
.i-american:before {
  content: "\e023";
}
.i-martial:before {
  content: "\e024";
}
.i-flag-catch:before {
  content: "\e025";
}
.i-animation-exp:before {
  content: "\e026";
}
.i-bachata:before {
  content: "\e027";
}
.i-ballet:before {
  content: "\e028";
}
.i-microphone:before {
  content: "\e029";
}
.i-sing-1:before {
  content: "\e02a";
}
.i-capoeira:before {
  content: "\e02b";
}
.i-musical:before {
  content: "\e02c";
}
.i-arabic-dance:before {
  content: "\e02d";
}
.i-saloon-dance:before {
  content: "\e02e";
}
.i-belly:before {
  content: "\e02f";
}
.i-folk:before {
  content: "\e030";
}
.i-hawaii:before {
  content: "\e031";
}
.i-hip-hop:before {
  content: "\e032";
}
.i-jazz:before {
  content: "\e033";
}
.i-regional-dance:before {
  content: "\e034";
}
.i-cuban-dance:before {
  content: "\e035";
}
.i-latin-dance:before {
  content: "\e036";
}
.i-tango:before {
  content: "\e037";
}
.i-tri-design:before {
  content: "\e038";
}
.i-music:before {
  content: "\e039";
}
.i-photo-cam:before {
  content: "\e03a";
}
.i-guitar:before {
  content: "\e03b";
}
.i-drums:before {
  content: "\e03c";
}
.i-theater:before {
  content: "\e03d";
}
.i-year:before {
  content: "\e03e";
}
.i-duration:before {
  content: "\e03f";
}
.i-workshop:before {
  content: "\e040";
}
.i-join-us:before {
  content: "\e041";
}
.i-upgrades:before {
  content: "\e042";
}
.i-path:before {
  content: "\e043";
}
.i-educational-site:before {
  content: "\e044";
}
.i-linces-mark:before {
  content: "\e045";
}
.i-admin-site:before {
  content: "\e046";
}
.i-alliance:before {
  content: "\e047";
}
.i-apply:before {
  content: "\e048";
}
.i-quicklink:before {
  content: "\e049";
}
.i-check-no:before {
  content: "\e04a";
}
.i-check-no-1:before {
  content: "\e04b";
}
.i-check-no-2:before {
  content: "\e04c";
}
.i-less-1:before {
  content: "\e04d";
}
.i-subtract:before {
  content: "\e04e";
}
.i-underscore:before {
  content: "\e04f";
}
.i-world:before {
  content: "\e050";
}
.i-world-uvm:before {
  content: "\e051";
}























